{% extends 'evasion/base.html'%}

{% block content%}
 <div class="content container">
    <div class="row">
        <div class="col-md-8">
            <div class="container">
        <div class="row">


            
            <div class="col-sm-12">
                        <h1>Evasão MERCOSUL</h1>
                       <img src="http://4.bp.blogspot.com/-XSw4vxH2Qzc/U4Jq-e0dXUI/AAAAAAAABC4/A87gy7C__nA/s1600/graficoTaxaDeAbandono.gif" 
                       alt="mateusfgf.com">
                    </div></br></br></br></br>

            <div class="col-sm-12">

                    <h1>Evasão Brasil - Escolas Públicas e Privadas</h1>
                      <p> <img src="http://s.glbimg.com/jo/g1/f/original/2011/02/04/evasao1.jpg" 
                       alt="mateusfgf.com"></p>
                    </div>




            <div class="col-sm-12">
                        <h1>Evasão</h1>
                        <p>A fórmula mais usada internacionalmente, que considera como base a Evasão do Conjunto dos
                            Cursos, inclusive para analisar a Evasão do Sistema e por Organização
                            Acadêmica, Região, Área de Conhecimento e de cada Curso.
                            É possível fazer outros cálculos sobre a Evasão, incluindo a Evasão por
                            IES e do Sistema, retirando-se do cálculo os ingressantes oriundos de
                            transferências entre IES, ou entre cursos na mesma IES. É esse cálculo que o
                            <!-- MEC pretende utilizar, segundo foi informado no encontro da AMBES realizado -->
                            em 04/10/2011. </p>
                    </div>
                    <div class="col-sm-12">
                        <h1>Um motivos</h1>
                        <p>A evasão discente é um dos principais problemas educacionais. Vista como a perda de alunos,
                            ela gera graves consequências acadêmicas, sociais e econômicas, comprometendo o
                            desenvolvimento do indivíduo e, de maneira mais abrangente, o desenvolvimento da sociedade,
                            como um todo. Esta dissertação, resultado de pesquisa descritiva, de natureza quantitativa,
                            busca responder a seguinte questão norteadora: quais são os principais fatores que influenciam
                            a evasão de alunos nos cursos superiores de Tecnologia em uma Instituição de Ensino Superior </p>
                    </div>
                    <div class="col-sm-12">
                        <h1>Evasão no ensino superior</h1>
                        <p>As maiores preocupações das instituições de
                        ensino superior – IES, para o MEC (1996) são
                        as de qualificar e garantir boa formação aos estudantes
                        que forma para o exercício profissional.
                        A evasão no ensino superior é um problema que
                        atinge até mesmo o cenário internacional, afetando
                        os resultados dos sistemas educacionais,
                        além disso, são desperdícios sociais, acadêmicos
                        e econômicos (SILVA FILHO et al., 2007).</p>
                    </div>
                </div>
            </div>
{%endblock%}