{% extends "bforum/base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Usuario ou senha pode estar errados, verifique e tente novamente.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <table>
        <tr>
            <td> USUARIO: </td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td> SENHA: </td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <input type="submit" value="LOGAR" /></br>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}